*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

.navbar {
    background: FFFFFF;
    height: 89px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    z-index: 10;
}

.nav__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 24px;
}

.nav__logo{
    background-size: 100%;
    text-decoration: none;
    color: black;
    font-family: 'Libre Bodoni', sans-serif;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
}

.nav__logo b{
    font-size: 1.3rem;
}

.nav__menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.nav__item {
    height: 80px;
}

.nav__links {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 2rem;
    height: 100%;
    font-family: Verdana, sans-serif;
    font-size: 14px;
}

ul.dropdown li {
    border: gainsboro;
    text-align: center;
    display: block;
}

ul.dropdown {
    width: 100%;
    background: white;
    display: none;
}

ul {
    padding: 0rem;
}

ul.dropdown li a{
    display: block;
    padding: 20px 25px;
    width: 100%;
    text-decoration: none;
    color: black;
}

ul.dropdown li a:hover {
    background: rgba(220, 193, 171, 1);
}

ul li:hover ul.dropdown {
    position: relative;
    display: block;
}

.search__container{
    height: 90%;
    display: grid;
    place-items: center;
}

.search{
    position: relative;
    width: 65px;
    height: 75%;
    margin-inline: 1.5rem;
    border-radius: 4rem;
    padding: 10px;
    overflow: hidden;
    transition: width .5s cubic-bezier(.9, 0, .3, .9);
}

.search__input{
    background-color: white;
    border: none;
    outline: none;
    width: calc(100% - 13px);
    height: 100%;
    border-radius: 4rem;
    padding-left: 14px;
    font-family: var(--body-font);
    font-size: 14px;
    font-weight: 500;
    opacity: 0;
    pointer-events: none;
    transition: opacity 1.5s;
}

.search__input:webkit-autofill{
    box-shadow: 0 0 0 100px var(--white-color) inset;
}

.search__btn {
    width: 45px;
    height: 45px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10px;
    margin: auto;
    display: grid;
    place-items: center;
    border: none;
    cursor: pointer;
    transition: transform .6s cubic-bezier(.9, 0, .3, .9);
}

.search__btn:hover {
    background: rgba(220, 193, 171, 1);
    cursor: pointer;
}

.search__icon, .search__close{
    color: black;
    font-size: 1.5rem;
    position: absolute;
    transition: opacity .5s cubic-bezier(.9, 0, .3, .9);
}

.search__close{
    opacity: 0;
}

.show-search{
    width: 100%;
}

.show-search .search__input{
    opacity: 1;
    box-shadow: 0 4px 24px hsla(222, 68%, 12%, .1);
    pointer-events: initial;
    
}

.show-search .search__btn{
    transform: rotate(90deg);
}

.show-search .search__icon{
    opacity: 0;
}

.show-search .search__close{
    opacity: 1;
}

.carousel__container{
    position: relative;
    z-index: 0;
}

#hero-carousel{
    position: relative;
    width: 100%;
    height: 737px;
}

.c__grid{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 64px 1fr;
}

.c-item{
    height: 737px;
}

.c-img{
    height: 100%;
    object-fit: cover;
    grid-column-end: -1 ;
}

.c__content{
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: rgba(220, 193, 171, 1);
    font-family: Verdana, sans-serif;
}

.hero__content{
    display: block;
    margin-top: 144px;
    height: 50%;
    margin-bottom: 144px;
    padding-left: 100px;
}

.hero__text{
    margin-top: 44px;
    margin-bottom: 72px;
    width: 80%
}

h1{
    font-size: 60px;
    justify-content: center;
}

.c__btns{
    position: absolute;
    right: 0px; 
    bottom: 0px;
    height: 96px;
    width: 192px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.c__btn{
    justify-content: center;
    z-index: 1;
    background-color: rgba(245, 240, 236, 1);
    border-width: 0;
}

.next__icon, .prev__icon{
    color: black;
    font-weight: bolder;
    font-size: 2rem;
    
}

.o_btn{
    height: 50px;
    border-radius: 4rem;
    margin-top: 10px;
    display: inline;
    text-align: center;
    font-family: Verdana, sans-serif;
    
}

.down__arrow{
    font-size: 1.8rem;
    vertical-align: middle;
}

.offert__container{
    position: relative;
    display: grid;
    grid-template-rows: 1fr 400px 160px ;
    background: rgba(245, 240, 236, 1);
    height: 939px;
}

.offert__frame{
    padding: 120px 10% 80px 10%;
    font-family: Verdana, sans-serif;

}

.offert__small{
    color: rgba(27, 91, 49, 1);
    font-size: 12px;
}

h2{
    font-size: 48px;
}

.offert__text{
    margin-top: 32px;
    font-size: 16px;
}

.cards__container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-auto-rows: minmax(300px, auto);
    gap: 64px;
    padding: 0 88px 0 88px;
    align-items: center;
}

.cards{
    position: relative;
    background: white;
    border-radius: 10%;
    height: 370px;
    align-items: center;
    padding: 48px 40px 0 48px;
    cursor: pointer;
}

.cards:hover{
    background-color: gainsboro;
}

.cards:hover{
    animation: shake 0.4s;
}

@keyframes shake{
    0%{
        transform: rotate(0deg) translateX(0px);
    }
    25%{
        transform: rotate(-5deg) translateX(-10px);
    }
    50%{
        transform: rotate(0deg) translateX(0px);
    }
    75%{
        transform: rotate(5deg) translateX(10px);
    }
    100%{
        transform: rotate(0deg) translateX(0px);
    }
}

.card__icons{
    font-size: 2rem;
}

h3{
    font-size: 28px;
    margin-top: 30px;
}

.card__links{
    position: absolute;
    bottom: 15%;
    text-decoration: none;
    color: rgba(27, 91, 49, 1);
    border-bottom: solid;
}

.card__text{
    font-size: 14px;
}

.clink__icons{
    font-size: 1.5rem;
    vertical-align: middle;
}

.info__container{
    position: relative;
    width: 100%;
    height: 720px;
    position: relative;
    background-color: yellowgreen;
}

.info__grid{
    height: 100%;
    background-color: rgba(27, 91, 49, 1);
    display: grid;
    grid-template-columns: 1fr 64px 1fr;
}

.info__content{
    color: white;
    margin: auto;
    padding-left: 160px;
    padding-right: 96px;
    grid-column-start: 2;
    grid-column-end: 4;
    font-size: 16px;
}

.info__grid img{
    grid-column-start: 1;
    height: 100%;
    max-height: 720px;
    object-fit: cover;
}

.info__btn{
    height: 50px;
    border-radius: 4rem;
    margin-top: 72px;
    display: inline;
    text-align: center;
    font-family: Verdana, sans-serif;
}

.info__content h2{
    margin-top: 12px;
}

.info__text{
    margin-top: 40px;
}

.info__small{
    font-size: 12px;
}

.gallery__container{
    position: relative;
    background-color: rgba(220, 193, 171, 1);
    display: grid;
    align-items: center;
    margin: 0 auto;
}

.gallery__container .popup-img{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .9);
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
}

.gallery__container .popup-img span{
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 40px;
    font-weight: bolder;
    color: #fff;
    cursor: pointer;
    z-index: 100;
}

.gallery__container .popup-img img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #fff;
    border-radius: 5px;
    width: 750px;
    object-fit: cover;
}

.grid{
    margin: 0 auto;
}

.grid-item:nth-child(-n + 9)
{
    display: block;
}

.grid-item { 
    margin-bottom: 30px;
    width: 451px;
    display: none;
    cursor: pointer;
    transition: .2s linear;
}

.grid-item:hover{
    transform: scale(1.1);
}

.grid-item--width2{
    width: 452px;
}

.grid-item img{
    width: 100%;
}

.more__button{
    width: 150px;
    margin-left: 45%;
    z-index: 100;
    margin-bottom: 5%;
}

.gallery__small{
    font-size: 12px;
    color: rgba(27, 91, 49, 1);
    margin-bottom: 10px;
}

.gallery__header{
    padding: 120px 10% 80px 10%;
    font-family: Verdana, sans-serif;
}

.gallery__header h2{
    margin-top: 10px;
}

.gradient__filter{
    background: linear-gradient(360deg, hsla(27, 41%, 77%, 1) 0%, transparent 100%);
    width: 100%;
    height: 50%;
    bottom: 0;
    position: absolute;
    pointer-events: none;
    
}

.instagram__block{
    height: 478px;
    color: white;
    font-family: Verdana, sans-serif;

}

.ig_back{
    display: flex;
    margin: 10% auto;
    height: 358px;
    width: 1040px;
    background-color: rgba(27, 91, 49, 1);
    padding: 0 88px 0 88px;
}

.ig-btn{
    background-color: #fff;
    height: 45px;
    width: 170px;
    border-radius: 4rem;
    margin-top: 20px;
}

.ig_back h2{
    margin: auto;
    font-size: 40px;
}

.ig_back .ig-txt{
    margin: auto;
}

.footer__container{
    display: grid;
    position: relative;
    color: white;
    background: rgba(17, 17, 17, 1);
    height: 499px;
}

.footer__credentials{
    width: 70%;
    height: 200px;
    position: relative;
    margin:  auto;
    border-bottom: solid;
    border-width: 1px;
    justify-content: center;
}

.footer__cgrid{
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    vertical-align: middle;
   
}

.footer_logo{
    margin: auto;
    margin-left: 0;
    background-size: 100%;
    text-decoration: none;
    color: white;
    font-family: 'Libre Bodoni', sans-serif;
    display: flex;
    font-size: 1.5rem;
}

.footer_logo b{
    font-size: 1.5rem;
}

.footer__button{
    margin: auto;
    margin-right: 0;
}

.footer__button button{
    margin: auto;
}

.footer__small{
    font-size: 16px;
    margin-right: 30px;
}

.footer__copy{
    width: 70%;
    height: 40%;
    margin: auto;
    margin-top: 10px;
    display: grid;
}

.copy__links, .copy{
    display: flex;
}

.copy{
    margin-top: 100px;
}

.links__left{
    margin: auto;
    margin-left: 0;
}


.link__smalls{
    margin-right: 30px;
}

section{
    overflow: hidden;
}

section .animate{
    opacity: 0;
    filter: blur(2px);
    transition: 1s;
}

section.show-animate .animate{
    opacity: 1;
    filter: blur(0) ;
}

.sec-1 .animate{
    transform: translateX(-100%);
}

.sec-1.show-animate .animate{
    transform: translateX(0);
}

.sec-2 .animate{
    transform: translateX(120%);
}

.sec-2.show-animate .animate{
    transform: translateX(0);
}

.sec-3 .animate{
    transform: rotate(-25deg);
}

.sec-3.show-animate .animate{
    transform: rotate(0);
}

.sec-4 .animate{
    transition: 1.5s;
}

.sec-5 .animate{
    transition: 0.5s;
    transform: rotate(25deg);
}

.sec-5.show-animate .animate{
    transform: rotate(0);
}


@media screen and (max-width: 992px) {

    .nav__container{
        display: flex;
        justify-content: space-between;
        height: 80px;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .nav__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 80vh;
        z-index: -1;
    }

    .nav__menu.active{
        background: #fff;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 80vh;
        font-size: 1.6rem;
    }
    .nav__item:hover{
        background-color: whitesmoke;
    }

    #nav__logo{
        padding-left: 25px;
    }

    .nav__toggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background-color: black;
    }

    .nav__item{
        width: 100%;
    }

    .nav__links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .drop__item{
        text-align: center;
        padding: 1rem;
        width: 100%;
        display: table;
        background-color: rgba(220, 193, 171, 1);
    }

    ul.dropdown {
        background: transparent;
    }

    #mobile-menu{
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .nav__toggle .bar{
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .show-search{
        width: 100%;
    }

    ul.dropdown li a:hover {
        background: wheat;
    }

    ul li:hover > ul.dropdown {
        position: absolute;
        display: block;
        height: 35vh;
    }

    .gallery__container .popup-img img{
        width: 95%;
    }

    .hero__content{
        display: block;
        margin-top: 44px;
        margin-bottom: 44px;
        padding-left: 20px;
    }

    .o_btn{
        margin-top: 2%;
    }

    .cards__container{
        gap: 5px;
        padding: 0 5px 0 5px;
        
    }

    .cards h3{
        margin-top: 15px;
    }

    .ig_back{
    margin: 10% auto;
    width: 100%;
    background-color: rgba(27, 91, 49, 1);
    padding: 0 88px 0 88px;
    }

    .info__content{
        margin: auto;
        padding-left: 60px;
        padding-right: 96px;
        grid-column-start: 2;
        grid-column-end: 4;
        font-size: 16px;
    }
    
    
}

@media screen and (max-width: 768px) {

    .c__btns{
        display: none;
    }

    .c-img{
        display: none;
    }

    .c__grid{
        height: 100%;
        display: grid;
        grid-template-columns: 1fr ;
    }

    .nav__container{
        display: flex;
        justify-content: space-between;
        height: 80px;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .nav__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 80vh;
        z-index: -1;
    }

    .nav__menu.active{
        background: #fff;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 80vh;
        font-size: 1.6rem;
    }

    .nav__item:hover{
        background-color: whitesmoke;
    }

    #nav__logo{
        padding-left: 25px;
    }

    .nav__toggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background-color: black;
    }

    .nav__item{
        width: 100%;
    }

    .nav__links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .drop__item{
        text-align: center;
        padding: 1rem;
        width: 100%;
        display: table;
        background-color: rgba(220, 193, 171, 1);
    }

    #mobile-menu{
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .nav__toggle .bar{
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .show-search{
        width: 100%;
    }

    ul.dropdown li a:hover {
        position: relative;
        background: wheat;
        width: 100%;
    }

    ul li:hover > ul.dropdown {
        display: block;
    }

    .gallery__container .popup-img img{
        width: 95%;
    }

    .hero__content{
        display: block;
        margin-top: 44px;
        margin-bottom: 44px;
        padding-left: 20px;
    }

    .hero__content h1{
        font-size: 2rem;
    }

    .hero__content .c-img{
        height: 50%;
    }

    .o_btn{
        margin-top: 2%;
    }

    .cards__container{
        gap: 3px;
        padding: 5px 10px 5px 10px;
        position: relative;
        grid-template-columns: repeat(1, minmax(0, 100%));
        align-items: center;
    }

    .offert__frame{
        padding: 30px 5% 40px 5%;
        font-family: Verdana, sans-serif;
    
    }

    .offert__frame h2{
        font-size: 2rem;
    }

    .offert__container{
        display: grid;
        grid-template-rows: 25% 1fr ;
    }

    .cards h3{
        margin-top: 15px;
    }

    .cards{
        border-radius: 5%;
        height: 300px;
        align-items: center;
        padding: 12px 10px 0 12px;
        
    }

    .card__links{
        position: absolute;
        bottom: 15%;
        text-decoration: none;
        color: rgba(27, 91, 49, 1);
        border-bottom: solid;
    }

    .ig_back{
        margin: 30px 0px 0px 0px;
        width: 100%;
        padding: 0 4px 0 4px;
    }

    .info__content{
        margin: auto;
        padding-left: 15px;
        padding-right: 10px;
        grid-column-start: 2;
        grid-column-end: 4;
        font-size: 14px;
    }

    .info__content h2{
        font-size: 2rem;
    }

    .gallery__container h2{
        font-size: 2rem;
    }

    .info__grid{
        grid-template-columns: 1fr 1fr 1fr;
    }

    .offert__container{
        height: 1300px;
    }

    .more__button{
        width: 150px;
        z-index: 100;
        margin: auto;
        margin-bottom: 5%;
        margin-left: 100px;
        
    }
    
    .ig_back h2{
        font-size: 1.5rem;
    }

    .footer_logo{
        font-size: 1rem;
    }
    
    .footer_logo b{
        font-size: 1rem;
    }
}
